<footer class=" footer">
  <div class=" container-fluid">
    <div class=" copyright">
      <a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Frodrigopiston.github.io&count_bg=%23E14ECA&title_bg=%23434343&icon=googlepodcasts.svg&icon_color=%23FFFFFF&title=%28%E2%8C%90%E2%96%A0_%E2%96%A0%29&edge_flat=true"/></a>
      
      &copy; {{ test | date: "yyyy" }} hecho por
      <a href="https://www.linkedin.com/in/rodrigopiston/" target="_blank"> Rodrigo Pistón </a>
    </div>
  </div>
</footer>
