<div class=" content">
  <div class=" row">
    <div class=" col-lg-2 col-md-0"></div>
    <div class=" col-lg-6 col-md-12">
      <div class=" form-group text-center">
        <h3> PNR Converter</h3>
        <textarea [(ngModel)]="textInput" class=" form-control" cols="80" style="max-height:max-content"
          (change)="changedText()" placeholder="Ingrese aquí el texto PNR, formatos admitidos Galileo, Smartpoint, Amadeus y Sabre" rows="{{rowCount}}" value="">
        </textarea>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-lg-2 col-md-0"></div>
    <div class=" col-lg-6 col-md-12">
      <button class=" btn btn-simple btn-primary col-md-12" (click)="clickEvent()"><div *ngIf="loading">Cargando</div><div *ngIf="!loading">Convertir</div></button>
    </div>
  </div>
  <br>

  <div class=" row">
    <div class=" col-lg-2 col-md-0"></div>
    <div class=" col-lg-6 col-md-12">
      <div class=" card">
        
        <div class=" card-header">
          <div class=" row">
            <div class=" col-lg-10 col-md-5"></div>
            <div class=" col-lg-2 col-md-4">
              <button class="btn btn-simple btn-success col-lg-11"
                color="primary" (click)="exportAsExcel()"> <div class="finfo-icons icon-cloud-download-93"></div>   Excel</button>
            </div>
          </div>
          <h4 class=" card-title text-center">Itinerario</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive" style="overflow:hidden">
          

            <table class=" table tablesorter" id="table" #TABLE>
              <thead class=" text-primary">
                <tr>
                  <th>Compañía</th>
                  <th>Vuelo</th>
                  <th class=" text-center">Fecha</th>
                  <th>Desde</th>
                  <th class=" text-center">Sale</th>
                  <th>Hasta</th>
                  <th class=" text-center">Llega</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let flight of this.flightDataSet?.flightData.flights">
                  <td>{{flight.flt.name}}</td>
                  <td>{{flight.flt.flightNo}}</td>
                  <td class=" text-center">{{flight.flt.departure.UTC | date:'ddMMM':'-03:00' | uppercase}}</td>
                  <td *ngIf="flight.dep.cityname != ''">{{flight.dep.cityname}}</td>
                  <td *ngIf="flight.dep.cityname == ''">{{replaceString(flight.dep.timezone)}}</td>
                  <td class=" text-center">{{flight.flt.departure.hr24}}</td>
                  <td *ngIf="flight.arr.cityname != ''">{{flight.arr.cityname}}</td>
                  <td *ngIf="flight.arr.cityname == ''">{{replaceString(flight.arr.timezone)}}</td>
                  <td class=" text-center">{{flight.flt.arrival.hr24}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>