<div class=" content">
  <div class=" row">
    <div class=" col-lg-2 col-md-0"></div>
    <div class=" col-lg-6 col-md-12">
      <div class=" form-group text-center">
        <h3> Ingrese en el siguiente cuadro el texto en formato PNR </h3>
        <textarea [(ngModel)]="textInput" class=" form-control" cols="80" style="max-height:max-content"
          (change)="changedText()" placeholder="RP/MVDUY2133/
        1  G37727 N 15NOV 2 MVDGRU DK1  0505 0750  15NOV  E  0 7M8 M
            010 AA 7755 /AM 8039
            SEE RTSVC
        2  G31436 N 15NOV 2 GRUGYN DK1  0935 1110  15NOV  E  0 7M8
            010 AA 7669 /AF 2003 /AM 8036 /AR 7546 /AV 4655 /CM 3552 /EK
            36
            3
            010 ET 4104 /KL 9288 /TK 9489 /TP 5845 /UX 2622
            SEE RTSVC
        3  G31441 Y 21NOV 1 GYNGRU DK1  1805 1945  21NOV  E  0 7M8
            010 AA 7670 /AR 7547 /AV 4648 /CM 3594 /EK 3622 /ET 4135 /TK
            94
            8
            010 TP 5988
            SEE RTSVC
        4  G37632 Y 21NOV 1 GRUMVD DK1  2230 0115  22NOV  E  0 738 M
            010 AA 7754 /AF 2029 /EK 3733 /KL 9310
            SEE RTSVC" rows="{{rowCount}}" value="">
        </textarea>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-lg-2 col-md-0"></div>
    <div class=" col-lg-6 col-md-12">
      <button class=" btn btn-simple btn-primary col-md-12" (click)="clickEvent()"><div *ngIf="loading">Cargando</div><div *ngIf="!loading">Convertir</div></button>
    </div>
  </div>
  <br>

  <div class=" row">
    <div class=" col-lg-2 col-md-0"></div>
    <div class=" col-lg-6 col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title text-center">Itinerario</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive" style="overflow:hidden">
            <div class=" row">
              <div class=" col-lg-10 col-md-5"></div>
              <div class=" col-lg-2 col-md-4">
                <button class="btn btn-simple btn-success col-lg-11"
                  color="primary" (click)="exportAsExcel()"> <div class="finfo-icons icon-cloud-download-93"></div>   Excel</button>
              </div>
            </div>

            <table class=" table tablesorter" id="table" #TABLE>
              <thead class=" text-primary">
                <tr>
                  <th>Compañía</th>
                  <th>Vuelo</th>
                  <th class=" text-center">Fecha</th>
                  <th>Desde</th>
                  <th class=" text-center">Sale</th>
                  <th>Hasta</th>
                  <th class=" text-center">Llega</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let flight of this.flightDataSet?.flightData.flights">
                  <td>{{flight.flt.name}}</td>
                  <td>{{flight.flt.flightNo}}</td>
                  <td class=" text-center">{{flight.flt.departure.UTC | date:'LLMMM':'-03:00' | uppercase}}</td>
                  <td *ngIf="flight.dep.cityname != ''">{{flight.dep.cityname}}</td>
                  <td *ngIf="flight.dep.cityname == ''">{{replaceString(flight.dep.timezone)}}</td>
                  <td class=" text-center">{{flight.flt.departure.hr24}}</td>
                  <td *ngIf="flight.arr.cityname != ''">{{flight.arr.cityname}}</td>
                  <td *ngIf="flight.arr.cityname == ''">{{replaceString(flight.arr.timezone)}}</td>
                  <td class=" text-center">{{flight.flt.arrival.hr24}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>